.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}


#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #78ABA8;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #C8CFA0;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #FCDC94;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  text-decoration: none;
}

#sidebar ul li a:hover {
  color: #EF9C66;
  background: #fff;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;


}

.product-card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 15px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.product-card p {
  font-size: 16px;
  color: #555;
}

.product-card .tags {
  color: #888;
  margin-top: 10px;
}

.product-card .add-to-cart {
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.product-card .add-to-cart:hover {
  background-color: #e65c00;
}

#conect_details{

  display: flex;
  justify-content: center;

}

#text-uppercase{
  text-align: center;
}


