.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}


#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #78ABA8;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #C8CFA0;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #FCDC94;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  text-decoration: none;
}

#sidebar ul li a:hover {
  color: #EF9C66;
  background: #fff;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;


}
#conect_details{

  display: flex;
  justify-content: center;

}

#text-uppercase{
  text-align: center;
}

}

